<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796224303659-nbisiadd41cfhu92oh53dsthdt4isaca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796224303659-nbisiadd41cfhu92oh53dsthdt4isaca</string>
	<key>API_KEY</key>
	<string>AIzaSyCai-p9pc-EHfDu6F3t79JETzPAKvdlTnw</string>
	<key>GCM_SENDER_ID</key>
	<string>796224303659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>simranjot.Notes</string>
	<key>PROJECT_ID</key>
	<string>notes-cc5e0</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-cc5e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796224303659:ios:1d071e313f6a566ed2306e</string>
	<key>DATABASE_URL</key>
	<string>https://notes-cc5e0.firebaseio.com</string>
</dict>
</plist>